
button{
  display: block;
  margin-left: auto;
}

a{
  font-size: 15px;
}

.item{
  background-color: rgb(201, 201, 201);
  padding: 5px;
  margin: 5px;
}

p{
  font-size: 10px;
}

.share{
  display: flex;
  width: 300px;
  flex-direction: row;
  background-color: blue;
}